<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        {% block assets %}
            {% for asset in assets %}
                {% if asset.getType() == "css" %}
                    <link rel="stylesheet" href="{{ asset.getUrl() }}" >
                {% elseif asset.getType() == "js" %}
                    <script src="{{ asset.getUrl() }} "></script>
                {% endif %}
            {% endfor %}
        {% endblock %}

    </body>
</html>