<html>
    <head>
        <title>Home</title>
        {% block assets %}
            {% for asset in assets %}
                {% if asset.getType() == "css" %}
                    <link rel="stylesheet" href="bundles/app/{{ asset.getType() }}/{{ asset.getUrl() }}" >
                    {% elseif asset.getType() == "js" %}
                    <script src="{{ asset.getType() }}/{{ asset.getUrl() }} "></script>
                {% endif %}
            {% endfor %}
        {% endblock %}
    </head>
    <body>
    </body>
</html>