<<<<<<< HEAD
=======
{% extends 'base.html.twig' %}

{% block head %}<h1>Test</h1>{% endblock %}
{% block navigation %}<a>sample</a>{% endblock %}
{% block content %}<p>Lorem Ipsum</p>{% endblock %}
{% block javascripts %}{% endblock %}
>>>>>>> 99d83807919253c6322b949530e8a654f399c967
