<div class="topline"></div>
<nav>
    {% image '@AppBundle/Resources/public/images/logo.svg' %}
        <img src="{{ asset_url }}" alt="" />
    {% endimage %}
    <ul>
        <li><a>Home</a></li>
        <li><a>Beitr&auml;ge</a></li>
        <li><a>Sonstiges</a> <ul>
                <li><a  href="{{ path('page', {'type': "impressum"}) }}">Impressum</a></li>
                <li><a  href="{{ path('page', {'type': "about"}) }}">&Uuml;ber uns</a></li>
            </ul></li>
        <li><a>Login</a></li>
        <li><a>Logout</a></li>
    </ul>
</nav>