{% extends "base.html.twig" %}
        {% block nav %}{% include "default/nav.html.twig" %}{% endblock %}

        {% block content %}
            <h1>{{ header|raw }}</h1>
            {{ content|raw }}
        {% endblock %}
