{% extends "base.html.twig" %}

{% block nav %}{% include "default/navAdmin.html.twig" %}{% endblock %}
{% block content %}

    <h1>User</h1>
{% for user in users %}
   <p>Username: {{ user.getName() }}&nbsp;&nbsp;Rang: {% if user.isSuperAdmin() %}Admin{% else %}Normaler User{% endif %}&nbsp;&nbsp;<a href="{{ path('toggleUser', {'user': user.getName()}) }}">Rang &auml;ndern</a><br></p>
{% endfor %}
{% endblock %}
