{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>Regestrierung Abgeschlossen</p>

    <p><a href="/">Weiter</a></p>

{% endblock fos_user_content %}
